table {
  background-color: green;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 30px auto;
  text-align: center;
}

td {
  font-size: 80px;
  width: 70px;
  height: 70px;
  border: black 4px solid;
  text-align: center;
  position: relative;
}

.white {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.black {
  width: 60px;
  height: 60px;
  background: black;
  border-radius: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#description,
#score {
  font-size: 40px;
  text-align: center;
}

.game-btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

#reset-btn,
#pass-btn {
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #228bc8;
  box-sizing: border-box;
  width: 100px;
  height: 50px;
  color: #228bc8;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  transition-duration: 0.2s;
  text-align: center;
  margin: 5px 0 0 10px;
}

#reset-btn:hover,
#pass-btn:hover {
  background: #228bc8;
  color: #fff;
}

.size-radio {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.size-radio input {
  display: none;
}
.size-radio label {
  display: block;
  float: left;
  cursor: pointer;
  width: 180px;
  margin: 1px 0 1px 0;
  padding: 1.4% 0 1.5% 0;
  border-right: 1px solid #d7d7d7;
  background: #e5e5e5;
  color: #555e64;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  transition: 0.2s;
}

.size-radio label:last-of-type {
  border-right: 0px;
}
.size-radio input[type="radio"]:checked + label {
  background-color: #a1b91d;
  color: #fff;
}
