table {
  background-color: green;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  font-size: 80px;
  width: 70px;
  height: 70px;
  border: black 4px solid;
  text-align: center;
  position: relative;
}

.white {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.black {
  width: 60px;
  height: 60px;
  background: black;
  border-radius: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#description,
#score {
  font-size: 40px;
}

#reset-btn,
#pass-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #228bc8;
  box-sizing: border-box;
  width: 100px;
  height: 50px;
  color: #228bc8;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  transition-duration: 0.2s;
  text-align: center;
  margin: 5px 0 0 10px;
}

#reset-btn:hover,
#pass-btn:hover {
  background: #228bc8;
  color: #fff;
}
